{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
      "quotes": ["error", "single"],
      "no-console": 0
      },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
